/* .vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    background-image: url("/icons/default_avatar.jpg");
    background-size: cover;
    content: "" !important
} */